.wrap {
    padding: 16px;
    margin: 16px 0;
    border: 1px solid var(--color-lightgray);
    cursor: pointer;
    border-radius: 8px;
    position: relative;

    &.accepted {
        background-color: var(--color-greenbg);
    }

    &.created {
        background-color: var(--color-white);
    }

    &.published {
        background-color: var(--color-redbg);
    }

    &.rejected {
        background-color: var(--color-redbg);
        opacity: 0.5;
    }

    &:hover {
        border-color: var(--color-link);
    }

    .arrowIcon {
        margin: 0 8px;
    }

    .down {
        font-size: 24px;
        position: absolute;
        right: 16px;
    }

    .datetime {
        font: var(--font-small);
        padding: 2px 0 0 0;
    }

    .addonPart {
        &.hidden {
            display: none;
        }

        .table {
            border-collapse: collapse;
            margin: 16px 0;
            width: 100%;

            caption {
                font-weight: bold;
                // font-size: 120%;
                padding: 0 0 8px 0;
                text-align: left;
            }

            th {
                font-size: 90%;
                color: var(--color-darkgray);
            }

            thead {
                tr {
                    backdrop-filter: none !important;
                    td {
                        // border: none;
                        font-weight: bold;
                    }
                }
            }

            tr {
                &:nth-child(odd) {
                    backdrop-filter: invert(10%);
                }

                td {
                    padding: 4px 12px;
                    border: 1px solid var(--color-gray);

                    &:first-child {
                        // width: 100%;
                    }
                    
                    &.number {
                        width: 120px;
                        text-align: right;
                    }
                }
            }
        }

        .remarks {
            border: 1px solid var(--color-gray);
            padding: 12px;
            margin-bottom: 12px;
            font-style: italic;
        }

        .buttonGroup {
            display: flex;
            gap: 16px;
            justify-content: flex-end;
        }
    }
}
