.wrap {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 1;
    // gap: 32px;

    .tab {
        font: var(--font-label);
        color: var(--color-white);
        background-color: var(--color-bg);
        padding: 16px 32px;
        flex: 1 1 auto;
        text-align: center;
        cursor: pointer;

        &.active {
            background-color: var(--color-link);
            cursor: unset;
        }
    }
}