.container {
    position: absolute;
    width: 100vw;
    pointer-events: none;
    z-index: 999;
    display: flex;
    top: -10vh;
    animation: 3s slideout;

    .wrap {
        padding: 16px 32px;
        color: var(--color-red);
        background-color: var(--color-redbg);
        border-radius: 8px;
        margin: auto;
    }
}

@keyframes slideout {
    0% {
        opacity: 0.5;
        top: 30vh;
    }
    15% {
        opacity: 1;
        top: 30vh;
    }
    100% {
        opacity: 0;
        top: -10vh;
    }
}
