.wrap {
    cursor: pointer;
    font: var(--font-listItem);
    
    &.hilight {
        color: var(--color-red);
    }

    &:hover {
        background-color: var(--color-highlight);
    }

    td {
        padding: 6px 12px;

        &.employees {
            text-align: right;
        }
    }
}
