.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.space {
    opacity: 0.25;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(-45deg, gray, white);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
