@import 'assets/styles/common';

.wrap {
    @include frame;
    height: 40vh;
    min-width: 450px;
    flex: 1 1 33%;
    display: flex;

    legend {
        font: var(--font-label);
        color: var(--color-bg);
    }
}