.wrap {
    display: flex;
    gap: 16px;
    padding: 32px;
    // border: 1px solid var(--color-gray);
    border-radius: 8px;
    position: fixed;
    top: 50px;
    z-index: 1;
    background-color: white;;

    width: calc(100% - 200px);
    left: 200px;

    > * {
        flex: 1 1 auto
    }

}