.wrap {
    height: 100%;
    min-height: 50vh;
    padding: 16px 8px;

    .loader {
        height: auto;
    }

    .brigadeWarehouseLoader {
        height: 200px;
    }

    .materials {
        tr {
            &:nth-child(even) {
                backdrop-filter: invert(10%);
            }

            td {
                padding: 4px 8px;

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    .buttonGroup {
        margin: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .button {
            width: 25vw;
            gap: 8px;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }
}
