.wrap {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font: var(--font-button);
    text-transform: uppercase;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-darkgray);
    transition: all 200ms linear;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    font-size: 18px;

    &:hover {
        background-color: var(--color-link);
    }

    &:disabled {
        background-color: var(--color-lightgray);
    }

    &.dangerous:not([disabled]) {
        background-color: var(--color-redbg);
        color: var(--color-red);

        &:hover {
            color: var(--color-white);
            background-color: var(--color-red);
        }
    }
}
