@import url('https://fonts.googleapis.com/css?family=Roboto%20Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

@import './theme.scss';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);
}

body {
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font: var(--font-h1);
    margin: 20px 0;
    text-transform: uppercase;
}

h2 {
    font: var(--font-h2);
    letter-spacing: 0.02em;
    margin: 20px 0;
    text-transform: uppercase;
}

h3 {
    font: var(--font-h3);
    margin: 20px 0;
}

p {
    margin: 20px 0;
    font: var(--font-p);
}
