:root {
    --color-white: #ffffff;
    --color-gray: #939292;
    --color-lightgray: #c4c4c4;
    --color-darkgray: #333333;
    --color-black: #1f1f1f;
    --color-red: #dc3500;
    --color-redbg: #fce0d8;
    --color-greenbg: #e0fcd8;

    --color-link: #558996;
    --color-bg: #163846;
    --color-highlight: #dee8ec;

    --font-small: normal 400 12px/15px 'Roboto';
    --font-smallLabel: normal 600 14px/22px 'Roboto';
    --font-label: normal 500 18px/17px 'Roboto';
    --font-normal: normal 500 14px/17px 'Roboto';
    --font-button: normal 600 15px/17px 'Roboto';
    --font-menu: normal 700 14px/17px 'Roboto';
    --font-listItem: normal 400 14px/17px 'Roboto';

    --font-h1: normal 700 64px/74px 'Play';
    --font-h2: normal 700 36px/54px 'Play';
    --font-h3: normal 500 26px/39px 'Roboto';
    --font-p: normal 400 16px/19.5px 'Roboto';
}
