.wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 480px;
    justify-content: space-between;

    .inputGroup {
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: none;
        padding: 0;
        margin: 0;
    }

    .info {
        font: var(--font-normal);

        table {
            border-collapse: collapse;

            tr {
                &:nth-child(even) {
                    background-color: var(--color-highlight);
                }

                td {
                    padding: 2px 4px;
                    width: 100%;

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }

    .selectGroup {
        // max-height: 350px;
        // overflow-y: auto;

        .selectInput {
            &:not(:first-child) {
                margin-top: 16px;
            }

            legend {
                font: var(--font-smallLabel);
                margin-bottom: -4px;
            }

            .inputGroupWrap {
                display: flex;
                gap: 8px;
                width: 100%;
                margin: 4px 0;

                > div {
                    width: 100%;

                    &:nth-child(2) {
                        width: 100px;
                    }
                }
            }
        }
    }

    .buttonGroup {
        display: flex;
        justify-content: space-around;
        gap: 12px;

        .button {
            flex: 1 1 auto;
        }
    }

    @media (max-width: 767px) {
        min-width: unset;
        flex: 1 1 auto;
    }
}
