.wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 480px;
    justify-content: space-between;

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: none;
        padding: 0;
        margin: 0;
    }

    .buttonGroup {
        display: flex;
        justify-content: space-around;
        gap: 12px;
        justify-self: end;

        .button {
            flex: 1 1 auto;
        }
    }

    @media (max-width: 767px) {
        min-width: unset;
        flex: 1 1 auto;
    }
}
